@use '../../styles/variables' as *;

.button {
  font-size: 16px;
  padding: 12px 32px;
  color: #fff;
  background-color: rgb(221, 0, 33);
  border-radius: 5px;
  border: none;
  font-family: $main_font;

  &--secondary {
    background-color: rgb(213, 2, 2);
  }
}


