.button {
  font-size: 12px;
  padding: 8px 14px;
  margin-left: 5px;
  border-radius: 16px;
  border: none;
  font-family: Inter;
  text-align: center;
  color: #D69E36;
  &__hover:active {
    transition: transform 2s;
    color: #565555;
    box-shadow: 0px 0px 2px 2px rgb(255, 159, 15);
  }
}