@use '../../styles/variables' as *;

.header {
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid $main_color;

  &--dark {
    background-color: #000;
    color: #fff;
    
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  &__logo {
    max-width: 150px;
    padding-left: 10px;
    @media screen and (max-width: 480px) {
      display: none;
    }
    img {
      width: 100%;
    }
  }
}